<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoption Page</title>
</head>

<body>
    <h1>Adopt A Pet</h1>
    <form id="adoptionForm" action="/adopt" method="POST">
        <input type="text" name="petName" value="<%= pet.name %>"><br>
        <input type="hidden" name="petID" value="<%= pet.id %>">
        <input type="hidden" name="uID" value="<%= user.id %>">
        <input type="submit" value="Adopt Pet">
    </form>
    <script>

    </script>
</body>

</html>