<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Pet Page</title>
    <style>
        #square {
            width: 100px;
            height: 100px;
            background-color: #E48400;
            place-items: center;
        }
    </style>
</head>

<body>
    <h1 id="petNameDisplay">This is <%-petName%></h1>
    <p>Hunger drains every 10 seconds</p>
    <p id="hungerDisplay">Hunger: <%-petHunger%>/50</p>
    <button onclick="feedPet()">Feed Pet</button>
    <div class="square"></div>
    <script>
        const xhttp = new XMLHttpRequest();
        const hungerDisplay = document.getElementById('hungerDisplay');
        const petNameDisplay = document.getElementById('petNameDisplay');
        var petName = "<%-petName%>";
        var petHunger = parseInt(`<%-petHunger%>`);
        hungerDisplay.innerText = "Hunger:" + petHunger + "/50";
        petNameDisplay.innerText = "This is " + petName;
        // Create Pet Hunger stat and drain
        function petHungerDrain() {
            if (petHunger > 0) {
                petHunger -= 1;
                console.log("Pet Hunger:", petHunger);
                sendHunger(petHunger)
                hungerDisplay.innerText = "Hunger:" + petHunger + "/50";
            } else {
                console.log("Hunger level has reached 0.");
                alert("Your pet " + petName + " has died of starvation.");
            }
        }
        setInterval(petHungerDrain, 10000);
        // Button to feed pet
        function feedPet() {
            console.log(petHunger)
            if (petHunger < 50) {
                petHunger += 1;
                sendHunger(petHunger)
                hungerDisplay.innerText = "Hunger:" + petHunger + "/50";
            } else {
                console.log("Pet is full.");
            }
        }

        //Send Hunger Stat to Server
        function sendHunger(hunger) {
            xhttp.open("POST", "/petView", true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({ petHunger: hunger }));
        }

    </script>
</body>

</html>